<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>投票结果</title>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>

  <body>
    <header class="tip">*顺序按票数从高到低</header>
    <div class="table-container">
      <table class="team-result" id="team-result">
        <tbody>
          <tr>
            <th class="team-name">团队名称</th>
            <th class="team-votes">票数</th>
          </tr>
        </tbody>
      </table>
      <table class="project-result" id="project-result">
        <tbody>
          <tr>
            <th class="project-name">项目名称</th>
            <th class="project-votes">票数</th>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
